/*my first css*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffcc;
}
strong{
    background-color: yellow;
}
img{
    border: 5px solid black;
}
h1{
    border: 5px dotted black;
    text-align: center;
}


blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem
    ;font-style: italic;
    text-align: left;
}

cite{
    font-size: 2rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.5rem;
}


.smalltext {
font-weight: lighter;
font-size: small;
}

a {
    text-decoration: none;
 }
 a:hover {
    font-weight: bolder;
    text-decoration: underline;
 }
 a:visited {
    color: yellowgreen;
    font-size: 3rem;

}
ul a:link{
    
    color: aquamarine;
    font-weight: bold;

}






